<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">

    <resultMap type='Elemento' id='ElementoResult'>

        <id property='numeroSerial' column='numeroserial'/>
        <result property='tipo' column='tipo'/>
        <result property='marca' column='marca'/>
        <result property='referencia' column='referencia'/>
        <result property='disponible' column='disponible'/>
        <result property='equipoAsociado' column='equipoasociado'/>

    </resultMap>

    <select parameterType="map" id="consultarElemento" resultMap="ElementoResult">

        SELECT
        e.numeroserial,
        e.tipo,
        e.marca,
        e.referencia,
        e.disponible,
        e.equipoasociado
        FROM elemento as e
        WHERE e.numeroserial=#{numser}

    </select>

    <select parameterType="map" id="consultarElementos" resultMap="ElementoResult">

        SELECT
        e.numeroserial,
        e.tipo,
        e.marca,
        e.referencia,
        e.disponible,
        e.equipoasociado
        FROM elemento as e

    </select>

    <select parameterType="map" id="consultarElementosEquipo" resultMap="ElementoResult">

        SELECT
        e.numeroserial,
        e.tipo,
        e.marca,
        e.referencia,
        e.disponible,
        e.equipoasociado
        FROM elemento as e
        WHERE e.equipoasociado=#{equipo}

    </select>

    <insert parameterType="map" id="agregarElemento">
        INSERT INTO public.elemento
        (tipo, marca, referencia)
        VALUES(#{tip},#{marc},#{ref})
    </insert>

</mapper>