<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">

    <resultMap type='Elemento' id='ElementoResult'>

        <id property='numeroSerial' column='numeroserial'/>
        <result property='tipo' column='tipo'/>
        <result property='marca' column='marca'/>
        <result property='referencia' column='referencia'/>
        <result property='disponible' column='disponible'/>
        <result property='equipoAsociado' column='equipoasociado'/>

    </resultMap>

    <!-- Cambiar Elemento Equipo -->
    <update id="asociarElementoEquipo" parameterType="map">
        UPDATE elemento
        SET equipoasociado = #{equipo}, disponible = #{disponible}
        WHERE numeroserial = #{numeroserial}
    </update>

    <select parameterType="map" id="consultarElemento" resultMap="ElementoResult">

        SELECT
        e.numeroserial,
        e.tipo,
        e.marca,
        e.referencia,
        e.disponible,
        e.equipoasociado
        FROM elemento as e
        WHERE e.numeroserial=#{numser}

    </select>

    <select parameterType="map" id="consultarElementos" resultMap="ElementoResult">

        SELECT
        e.numeroserial,
        e.tipo,
        e.marca,
        e.referencia,
        e.disponible,
        e.equipoasociado
        FROM elemento as e

    </select>

    <select parameterType="map" id="consultarElementosEquipo" resultMap="ElementoResult">

        SELECT
        e.numeroserial,
        e.tipo,
        e.marca,
        e.referencia,
        e.disponible,
        e.equipoasociado
        FROM elemento as e
        WHERE e.equipoasociado=#{equipo}

    </select>

    <select parameterType="map" id="consultarElementosTipo" resultMap="ElementoResult">

        SELECT
        e.numeroserial,
        e.tipo,
        e.marca,
        e.referencia,
        e.disponible,
        e.equipoasociado
        FROM elemento as e
        WHERE e.tipo=#{tipo} AND e.disponible=true

    </select>

    <insert parameterType="map" id="agregarElemento">
        INSERT INTO public.elemento
        (tipo, marca, referencia)
        VALUES(#{tip},#{marc},#{ref})
    </insert>

    <update parameterType="map" id="asociarElemento">
        UPDATE elemento
        SET equipoasociado=#{eqid}, disponible=false
        WHERE marca=#{marc} AND referencia=#{ref} AND disponible=true
    </update>
</mapper>